In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.preprocessing.image import load_img, save_img
from pathlib import Path

In [35]:
PATH = Path("images")

filenames = []
labels = []
counts = {}

for d in PATH.iterdir():
    if d.is_dir():
        count = 0
        for f in d.iterdir():
            if f.suffix == ".jpg":
                count += 1
                filenames.append(str(f))
                labels.append(d.name.lower())
        counts[d.name] = count

In [36]:
df = pd.DataFrame({"filename": filenames, "label": labels})

In [37]:
df.to_csv("index.csv", index=False)

In [33]:
df

                        filename     label
0        images/apple/000608.jpg     apple
1        images/apple/000634.jpg     apple
2        images/apple/000620.jpg     apple
3        images/apple/000378.jpg     apple
4        images/apple/000350.jpg     apple
...                          ...       ...
7825  images/erdinger/003091.jpg  erdinger
7826  images/erdinger/003046.jpg  erdinger
7827  images/erdinger/003052.jpg  erdinger
7828  images/erdinger/003132.jpg  erdinger
7829  images/erdinger/003126.jpg  erdinger

[7830 rows x 2 columns]