In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.preprocessing.image import load_img, save_img
from pathlib import Path

In [23]:
PATH = Path("images")

filenames = []
labels = []
counts = {}

for d in PATH.iterdir():
    if d.is_dir():
        count = 0
        for f in d.iterdir():
            if f.suffix == ".jpg":
                count += 1
                filenames.append(str(f))
                labels.append(d.name)
        counts[d.name] = count

images/apple/000608.jpg
images/starbucks/006523.jpg
images/rittersport/006133.jpg
images/stellaartois/007167.jpg
images/milka/005228.jpg
images/ferrari/004136.jpg
images/ups/007629.jpg
images/corona/002547.jpg
images/ford/004308.jpg
images/cocacola/002023.jpg
images/paulaner/005770.jpg
images/HP/005016.jpg
images/fedex/003467.jpg
images/texaco/007198.jpg
images/shell/006279.jpg
images/google/004526.jpg
images/pepsi/005994.jpg
images/chimay/001714.jpg
images/aldi/000191.jpg
images/guinness/004678.jpg
images/tsingtao/007601.jpg
images/heineken/004888.jpg
images/singha/006331.jpg
images/nvidia/005412.jpg
images/fosters/004452.jpg
images/adidas/000152.jpg
images/becks/000813.jpg
images/esso/003301.jpg
images/dhl/002779.jpg
images/bmw/001270.jpg
images/carlsberg/001516.jpg
images/erdinger/003103.jpg

In [24]:
df = pd.DataFrame({"filename": filenames, "class": labels})

In [25]:
df.to_csv("index.csv", index=False)

In [26]:
df

                        filename     class
0        images/apple/000608.jpg     apple
1        images/apple/000634.jpg     apple
2        images/apple/000620.jpg     apple
3        images/apple/000378.jpg     apple
4        images/apple/000350.jpg     apple
...                          ...       ...
7825  images/erdinger/003091.jpg  erdinger
7826  images/erdinger/003046.jpg  erdinger
7827  images/erdinger/003052.jpg  erdinger
7828  images/erdinger/003132.jpg  erdinger
7829  images/erdinger/003126.jpg  erdinger

[7830 rows x 2 columns]